@import '../../styles/variables.scss';
.darkmode{  
    background-color: black !important;
    color:$green300 !important;
}
.lightmode{ 
    background-color: white !important; 
    color:$purple500 !important;
}
.darklightbtn{
    border-radius: 50%;
    
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}